#body{
	color:#333333;
	background-image: url(../img/fondo.jpg);
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	-background-size: cover;
	
}

#h1, #slogan, #citas, #form{
	text-align: center;
}

#citas{
	font-style: italic;
}

#hr{
	width:50%;
}

#fotoDiego{
    width:120px;
    height: 120px;
    border-radius: 5px;
    text-align: center;
    
}

#fotoFco{
    width:120px;
    height: 170px;
    border-radius: 5px;
    text-align: center;
}

#Datos, #OtraOpcion{
	background: #41dbdb;
	border:solid;
	text-align: center; 
	margin: auto;
	border-collapse: 20px;
	border-spacing: 20px;
    border-radius: 20px;
}

#OtraOpcion{
	width: 200px;
}

a:visited, a:link{
	color:#FFFFFF;
}

a:hover{
	color: black;
}

